<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResultPath" value="." />
    <add key="WaveFilePath" value=".\wave" />
    <add key="ExperimentConfigurationPath" value=".\experiment-config.json" />
    <add key="QuestionnaireConfigurationPath" value=".\questionnaire-config.json" />
  </appSettings>
</configuration>
